[Unit]
Description=ChatGPT translate service for Mastodon
Requires=chatlibre.socket
After=network.target

[Service]
Type=exec
DynamicUser=yes
WorkingDirectory=/opt/chatlibre/
LoadCredential=openai_key:/opt/chatlibre/openai_key
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/chatlibre/chatlibre.py

PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectHostname=true
RestrictNamespaces=true
SystemCallArchitectures=native
ProtectClock=true
ProtectKernelLogs=true
RestrictRealtime=true
LockPersonality=true

[Install]
WantedBy=multi-user.target

